---
import Layout from '../layouts/Layout.astro';
import { Header } from '@/components/layout/Header';
import { HeroSection } from '@/components/sections/HeroSection';
import { HighlightsSection } from '@/components/sections/HighlightsSection';
---
<Layout>
  <Header client:load />
  <main>
    <HeroSection client:load />
    <HighlightsSection client:visible />
  </main>
</Layout>