---
import '../styles/global.css'   
---
<!doctype html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>مسابقه برنامه‌نویسی بیرجند (BCPC)</title>
		<!-- Vazirmatn Font for Persian -->
		<link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	html, body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>